.star-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: oklch(14.5% 0 0);
  pointer-events: none;
}

.star {
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(-45deg, #7e2a0c, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px);
  transform: rotateZ(45deg);
  animation: shooting linear infinite;
  opacity: 0;
}

.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #7e2a0c;
}

@keyframes shooting {
  0% {
    transform: translateX(0) translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) translateY(500px) rotate(45deg);
    opacity: 0;
  }
}
